*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --txt-color1: #2D2D2D;
    /* --txt-color2: #6C63FF; */
    --primary-color: #009829;
    --background-color: #ffffff;
    --section-color: #E4DFFF;
    --neutral-color3: #FFFFFF;
    --scondary-color-hover: #009829;
    --primary-text: 'Montserrat', sans-serif;
    --secondary-text: 'Poppins', sans-serif;
    --paragrph-text: 'Lato', sans-serif;
    --cta-text: 'Roboto', sans-serif; 
    --navigation-text: 'Raleway', sans-serif;
    --service-des-text: 'Source Sans Pro', sans-serif;
    --blog-text: 'Open Sans', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--txt-color1);
    scroll-behavior: smooth;
}
/* start of the header style  */
header nav{
    position: fixed;
    display: flex;
    min-width: 99vw;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    margin-inline: auto;
    background-color: transparent;
    backdrop-filter: blur(10px);
    top: 5px;
    margin-top: -5px;
    padding: 25px;
    z-index: 100;
}
header nav .logo{
    width: 50px;
    height: 20px;
    margin-top: -20px;
}
header nav .logo img{
    width: 100%;
    object-fit: cover;
}
/* header nav .logo p{
    font-size: 1.2rem;
    font-family: var(--primary-color);
    
} */
header nav .logo p #web{
    font-family: var(--cta-text);
    font-weight: bold;
}
.mobile{
    display: none;
}
.mobile.show{
    position: fixed;
    display: flex;
    inset: 0;
    background-color: var(--primary-color);
    z-index: 99;
    animation: animate-mobile 0.6s alternate;
}
.mobile.show ul{
    margin-top: 5em;
    padding-left: 20px;
}
.mobile.show ul li{
    list-style: none;
}
.mobile.show ul li a{
    font-size: 1.09rem;
    text-decoration: none;
    color: var(--neutral-color3);
    font-family: var(--navigation-text);
    line-height: 50px;
}
.mobile.show ul li a:focus,
.mobile.show ul li a:hover{
    color: var(--hover-color);
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
header nav ul li{
    list-style: none;
    font-family: var(--navigation-text);
}
header nav ul li a{
    font-size: 1.09rem;
    text-decoration: none;
    color: var(--scondary-color-hover);
    font-weight: bold;
}
header nav ul li a:focus,
header nav ul li a:hover{
    border-bottom: 2px solid var(--scondary-color-hover);
    transition: 0.2s ease-out;
}
header nav .menu{
    display: none;
}
header .header-container{
    width: 95%;
    margin: 0 auto;
    margin-inline: auto;
    margin-top: 8em;
    padding-bottom: 5.55rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
header .header-container .header-text{
    max-width: 35em;
}
header .header-container h1{
    display: flex;
    flex-wrap: wrap;
    font-family: var(--primary-text);
    font-size: 2.8rem;
    line-height: 60px;
}

header .header-container h1 span{
    color: var(--primary-color);
    font-weight: 200;
    font-weight: bolder;
     line-height: 64px;
}
header .header-container p{
    font-size: 1rem;
    font-family: var(--secondary-text);
    line-height: 24px;
    color: var(--txt-color1);
}
header .header-container .btn{
    width: 10em;
    margin-top: 45px;
}
header .header-container .btn button,
.btn button{
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    color: var(--background-color);
    background-color: var(--scondary-color-hover);
    border-radius: 7px;
}
header .header-container .btn button:hover{
    background-color: var(--primary-color);
    transition: 0.2s ease;
    cursor: pointer;
}
header .header-container .img-container{
    width: 20rem;
    float: right;
}
header .header-container .img-container img{
    width: 100%;
    object-fit: cover;
    animation: animate-image 4s ease-in-out infinite alternate;
}
/* header navigation end here  */


/* start main menu here  */
main{
    width: 100%;
    margin: 0 auto;
    margin-inline: auto;
}
.whatsapp-container{
    width: 3em;
    height: 3em;
    position: fixed;
    right: 10px;
    bottom: 2em;
    z-index: 100;
}
.whatsapp-container img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.whatsapp-container:hover,
.whatsapp-container img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease;
}
/* start about page here  */
main #about{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--scondary-color-bg);
    justify-content: space-between;
    align-items: center;
    padding: 7em;
    margin-top: 10em;
    gap: 50px;
    /* overflow-x: hidden; */
}
main #about h1{
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: var(--cta-text);
    line-height: 60px;
    color: var(--scondary-color-hover);
    animation: animate-heading 2s ease-in-out alternate infinite;
}
main #about #our-mission,
main #about #why-us{
    margin-top: 2em;
}
main #about #details,
main #about ul li{
    font-size: 1.1rem;
    line-height: 2;
    max-width: 30em;
    font-family: var(--secondary-text);
    color: var(--txt-color1);
}
main #about ul li{
    list-style-type:disc;
    line-height: 30px;
}
main #about .about-img-container{
    width: 20rem;
}
main #about .about-img-container img{
    width: 100%;
    object-fit: cover;
    animation: animate-image 4s ease-in-out infinite alternate;
}
/* end abou page here  */


/* start service page here  */
main #services{
    padding: 7em;
    margin-top: 10em;
}
main #services h1{
    font-size: 2.8rem;
    /* font-weight: 400; */
    line-height: 60px;
    font-family: var(--cta-text);
    color: var(--primary-color);
    animation: animate-heading 2s ease-in-out alternate infinite;
}
main #services p{
    font-size: 1.2rem;
    font-family: var(--secondary-text);
}
.card-container{
   display: grid;
   gap: 2em;
   grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
   margin-top: 2em;
   text-align: center;
}

main .card-container .card{
    width: 17em;
    background-color: var(--scondary-color-bg);
    padding: 20px;
    border-radius: 40px 0px 40px 0px;
    margin-top: 4em;
    transition: 0.4s;
    animation: animate-card 5s ease-in-out infinite alternate;
}
main .card-container .card:hover{
  transform: scale(1.03);
  transition: 0.4s ease-in-out;
}
main .card-container .card img{
    width: 100%;
    object-fit: cover;
}
main .card-container .card h3{
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--secondary-text);
    line-height: 30px;
    padding-top: 20px;
    color: var(--primary-color);
}
main .card-container .card p{
    text-align: center;
    line-height: 1.2;
    font-family: var(--blog-text);
    opacity: 0.7;
    font-weight: lighter;
}
/* end of the service page  */


/* start of the team page  */
main #other{
    background-color: var(--scondary-color-bg);
    width: 100%;
    margin-top: 10em;
    padding: 10em;
    overflow-x: hidden;
}
main #other h1{
    font-size: 2.2rem;
    font-family: var(--cta-text);
    color: var(--primary-color);
    line-height: 60px;
    animation: animate-heading 2s ease-in-out alternate infinite;
}
main #other p{
    color: var(--txt-color1);
    font-size: 1.2rem;
    line-height: 30px;
    font-family: var(--secondary-text);
}
main #other .details{
    z-index: 99;
    margin-bottom: 4em
}
main .team-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
main .img-container{
    width: 30em;
}

main .img-container img{
    width: 100%;
    object-fit: cover;
    z-index: 1;
    animation: animate-image 4s ease-in-out infinite alternate;
}
/* team members section end here  */

/* faq start here  */
main #faq details{
    margin-bottom: 10px;
}
main #faq h1{
    font-size: 1.8rem;
    font-family: var(--cta-text);
    line-height: 60px;
    color: var(--primary-color);
    animation: animate-heading 3s ease-in-out alternate infinite;
    margin-top: 40px;
}
main #faq details summary{
    color: var(--txt-color1);
    font-size: 1.2rem;
    line-height: 60px;
    font-family: var(--secondary-text);
    font-weight: 500;
    opacity: 0.8;
}
main #faq details p{
    color: var(--txt-color1);
    font-size: 1.3rem;
    line-height: 60px;
    margin-left: 30px;
    font-family: var(--secondary-text);
}
main #faq details ul{
    margin-left: 60px;
}
main #faq details li{
    color: var(--txt-color1);
    font-size: 1.2rem;
    line-height: 60px;
    font-family: var(--secondary-text);
}
main #faq #question{
    color: var(--txt-color1);
    font-size: 1.3rem;
    line-height: 60px;
    margin-left: 30px;
    font-family: var(--secondary-text);
}
/* faq end here  */


/* contact page start here  */
main #contact,
main #faq{
    padding: 10em;
    margin-top: 10em;
    margin-inline: auto;
    overflow-x: hidden;
}
main #contact h1{
    font-size: 2.4rem;
    font-family: var(--cta-text);
    line-height: 60px;
    color: var(--primary-color);
    animation: animate-heading 2s ease-in-out alternate infinite;
}
main #contact p{
    font-size: 1.2rem;
    font-family: var(--secondary-text);
    line-height: 30px;
}
main #contact .contact{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    flex-wrap: wrap;
    gap: 50px;
}
main #contact form{
    width: 27em;
}
main #contact form input,
main #contact form textarea{
    width: 100%;
    height: 3em;
    padding: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.05rem;
    color: var(--scondary-color-hover);
}
main #contact form textarea{
    min-height: 10em;
    max-height: 10em;
    /* pointer-events: none; */
}
main #contact form #submit{
    background-color: var(--primary-color);
    color: var(--neutral-color3);
    /* font-size: 1.2rem; */
}
main #contact form #submit:hover{
    background-color: var(--scondary-color-hover);
    transition: 0.3s ease;
    cursor: pointer;
}
main #contact form input:hover,
main #contact form textarea:hover{
    border: 2px solid var(--scondary-color-hover);
    transition: 0.3s ease;
}
main #contact .contact .img-container{
    width: 20em;
}
main #contact .contact .img-container img{
    width: 100%;
    animation: animate-image 4s ease-in-out infinite alternate;
}
/* contact page end here  */


/* footer page start here  */
footer{
    padding: 2em 5em 0;
    background-color: var(--scondary-color-hover);
    margin-top: 10em;
}
footer .footer-detail{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
footer .social-media{
    display: flex;
    gap: 20px;
    /* padding: 20px; */
}
footer .address-container ul{
    margin-top: 10px;
}
footer .address-container li{
    list-style: none;
    text-align: left;
}
footer .address-container li a{
    font-family: var(--secondary-text);
    line-height: 30px;
    font-family: var(--cta-text);
    color: var(--scondary-color-bg);
    /* text-align: left; */
}
footer .usefull-link{
    display: flex;
    flex-direction: column;
}
footer .usefull-link a{
    text-align: left;
    font-size: 1.05rem;
    font-family: var(--navigation-text);
    line-height: 30px;
    text-decoration: none;
    color: var(--background-color);
    opacity: 0.8;
}
footer .usefull-link a:hover{
    color: var(--primary-color);
}
footer .social-media a{
    font-size: 1.4rem;
    opacity: 0.7;
    text-decoration: none;
    color: var(--background-color);
}
footer .social-media a:hover{
    opacity: 1;
    transition: 0.3s ease;
}
footer #copy-right{
    text-align: center;
    font-size: 1rem;
    font-family: var(--paragrph-text);
    color: var(--neutral-color3);
    opacity: 0.6;
    line-height: 20px;
    margin-top: 20px;
}
/* footer page end here  */


/* privacy and policy page start here */
.privacy section{
    padding: 1em 6em 1em 6em;
    margin-inline: auto;
    overflow-x: hidden;
}
.privacy section h1{
    margin-top: 1em;
    font-size: 2.4rem;
    font-family: var(--cta-text);
    line-height: 60px;
    color: var(--primary-color);
}
.privacy section p{
    font-size: 1.2rem;
    font-family: var(--secondary-text);
    line-height: 30px;
}
.privacy section li{
    color: var(--txt-color1);
    font-size: 1.2rem;
    line-height: 40px;
    font-family: var(--secondary-text);
}
/* privacy and policy page end here */

/* start animation section  */
@keyframes animate-heading {
    to{
        transform: rotate(1deg);
    }
}

@keyframes animate-image {
    to{
        transform: scale(1.1);
    }
}
@keyframes animate-card {
    form{
        border-radius: 40px 0px 40px 0px;
    }
    to{
        border-radius: 0px 40px 0px 40px;
    }
}
@keyframes animate-scroll {
   from{
    opacity: 0;
    transform: translateY(50px);
   } 
   to{
    opacity: 1;
    transform: translateY(0);
   }
}
@keyframes animate-mobile {
    from{
        transform: translateY(-50%);
    }
    to{
        transform: translateY(0%);
    }
}
/* .section{
    
} */
/* .section.hidden {
    visibility: hidden;
  }
.section.visible {
    animation: animate-scroll 0.5s ease;
  }  */

/* end animation section  */

/* start responsive mobile view here  */
@media (max-width: 1000px) {
    header nav{
        min-width: 99vw;
        padding: 25px;
        /* margin-left: -30px; */
    }
    header nav .logo p{
        margin-left: -70px;
    }
    header nav ul{
        display: none;
    }
    header nav .menu{
        display: block;
    }
    main #services,
    main #other,
    main #contact,
    main #about,
    main #faq,
    .privacy section,
    footer{
        padding: 2em;
    }
    header .header-container .img-container img{
        display: none;
    }
}
/* end responsive mobile view here  */